body{
	margin:0;
	padding:0;
	background:#F6F6F6 url(images/bg.png) repeat-x;
	font-size:13px;
	font-family:arial,微软雅黑;
}
a{
	color:inherit;
}
.fixedWidth{
	width:940px;
	margin:0 auto;
}
.header{
	padding:40px 0;
	text-align:center;
}
.nav{
	background:url(images/nav-bg.png) repeat-y;
	height:40px;
	line-height:40px;
	text-align:center;
}
.nav .top,.nav .bottom{
	height:1px;
	display:block;
}
.nav .top{
	background:url(images/nav-top.png);
}
.nav .bottom{
	background:url(images/nav-bottom.png);
}
.nav a{
	text-decoration:none;
	color:#333;
	font-size:15px;
	margin:0 15px;
	font-weight:bold;
}
.nav .current{
	color:#999;
	font-size:15px;
}
.slideShow{
	margin-top:30px;
	position:relative;
}
.slideShow .screenFrame{
	position:relative;
	height:372px;
	background:#EEE;
}
.slideShow .screen{
	padding:3px;
	background:#EEE;
}
.slideShow .screen .frame{
	height:365px;
	position:relative;
	background:#FFF;
}
.slideShow .screen img,.slideShow .screen .overlay{
	width:934px;
	height:365px;
	position:absolute;
	top:0px;
	left:0px;
}
.slideShow .screen .overlay{
	background:url(images/slider-overlay.png) no-repeat;
}
.slideShow .screenShadow{
	height:14px;
	background:url(images/slider-shadow.png) no-repeat;
}
.slideShow .board{
	width:419px;
	height:349px;
	position:absolute;
	left:0;
	top:60px;
	background:url(images/slider-banner.png);
}
.slideShow .board .frame{
	position:relative;
}
.slideShow .board .item{
	width:290px;
	height:280px;
	position:absolute;
	left:100px;
	top:30px;
}
.slideShow .board .item .title{
	font-size:40px;
	font-weight:lighter;
	color:#A4A4A4;
	height:80px;
	text-shadow:1px 1px 0 #FFF;
	text-align:center;
}
.slideShow .board .item .text{
	padding-top:50px;
	font-size:14px;
	color:#335;
}
.slideShow .thumb{
	position:absolute;
	top:300px;
	left:480px;
}
.slideShow .thumb .item{
	float:left;
	position:relative;
	height:110px;
	width:100px;
	margin-left:10px;
	background:url(images/slider-thumb-shadow.png) no-repeat left bottom;
}
.slideShow .thumb .item .frame{
	cursor:pointer;
}
.slideShow .thumb .item .frame{
	margin-top:10px;
	background:#DDD;
	width:91px;
	height:91px;
	position:relative;
}
.slideShow .thumb .item img,.slideShow .thumb .item .overlay{
	width:83px;
	height:83px;
	position:absolute;
	top:4px;
	left:4px;
}
.slideShow .thumb .item .overlay{
	background:url(images/slider-thumb-overlay.png) no-repeat;
}
.sloganLeft,.sloganRight{
	text-align:center;
	width:800px;
	text-shadow:1px 1px 0 #FFF;
	padding-left:40px;
	padding-right:40px;
}
.sloganLeft{
	margin-top:50px;
	background:url(images/quote-left.gif) no-repeat left top;
	font-size:30px;
	color:#222;
	padding-top:25px;
	
}
.sloganRight{
	background:url(images/quote-right.gif) no-repeat right bottom;
	font-size:20px;
	color:#999;
	padding-bottom:20px;
}
.stripTop{
	height:39px;
	background:url(images/strip-top.png);
}
.strip{
	height:59px;
	line-height:59px;
	background:url(images/strip-bg.png);
	text-align:center;
	font-size:17px;
	color:#AAA;
	text-shadow:1px 1px 0 #FFF;
}
.footer{
	height:150px;
	line-height:150px;
	font-size:12px;
	color:#AAA;
	text-align:right;
}
.footer a{
	color:#99E;
}
.shelf{
	padding:5px;
}
.shelf .item{
	margin:5px;
	padding:5px;
}
.shelf .item .info{
	color:#555;
}
.shelf .item pre{
	
}